* {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

#nav-bar {
    width: 85%;
    height: 35px;
    margin-top: 20px;
    padding: 1.5% 10%;
    margin-top: -4%;
    background-color: white;
    position: fixed;

}

#nav-bar>div {
    padding: 0% 0%;
    float: left;
    margin: 0.5% 0%;
}

#nav-bar>img {
    float: left;
    width: 10%;
    height: 80%;
    margin-left: 1%;
}
#set_location{
    height:20px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
#head {
    display: flex;
    width:100%;
    background-color: rgb(247, 253, 250);
    flex-direction: column;
    height:600px;
    margin-top: 50px;
}
#name{
margin-left: 14.5%;
margin-top: 2%;
color:rgb(0, 179, 122);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
cursor: pointer;
font-weight: 500;
font-size: 12px;
}
#head>#part1{
    width:100%;
    height:250px;
    display: flex;
    flex-direction: row;
}
#part1>#part1a{
    height: 56%;
    margin-left: 14%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 17px;
}
#part1a>#image0{
    width:150px;
    height:140px;
}
#image0>img{
    width:150px;
    height: 140px;
}
#part1a>#image1{
    margin-left: 40px;
}
#image1>h1{
    font-weight: 500;
    color: rgb(15, 25, 56);
}
#image1>p{
    color:grey;
    padding-top: 20px;
    font-weight: 400;
}
/* Search Functionality */
#search{
    height:100px;
    width:100%;
    margin-bottom: 15px;
    margin-top: 5px;
}
#search>input{
    width:37%;
    height: 50px;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 346px;
    font-size: 17px;
    text-align: center;
    position: relative;
    background-color: white;
    z-index: 0;
}
#search>img{
    height:20px;
    position: absolute;
    margin-left:370px;
    margin-top: 25px;
    z-index: 1;
}
/* Products of each shop */
#products{
    display: flex;
    flex-direction: row;
    width:100%;
    background-color: #fff;
}
#products1,#products2,#products3{
    
    height:400px
}
/* Product part -1 */
#products>#products1{
    width:24%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    overflow: scroll;
    overflow-x: hidden;
}
#products1 > button{
    text-align: right;
    height: 45px;
    font-size: 15px;
    color: grey;
    background-color: #fff;
    border: none;
}
#products1 > button:hover{
    cursor: pointer;
}
/* Products part -2 */
#products>#products2{
    width:40%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    
}
#bar{
    height:10px;
    width:5px;
    background-color: chartreuse;
}
/* Products part2 shop products */
#products2>#heading{
    
    height:60px;
    padding-left: 24px;
    padding-top: 18px;
    font-size: 30px;
    font-weight: 400;
    background-color: rgb(243, 243, 245);
}
#img{
    width:20px;
}
#divs{
    display: flex;
    flex-direction: row;
    width:100%;
    height:150px;
    align-items: center;
    line-height: 20px;
}
#divs>img{
    height: 60%;
    width:20%;
}
#divs>button{
    margin-left: 10px;
    height:30px;
    width:60px;
    color:rgb(0, 179, 122);
    border-color: rgb(0, 179, 122);
    border:1px solid;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
}
#details{
    width:300px;
    margin-left: 25px;
    padding-top: 5px;
    height:80px;
    display: flex;
    flex-direction: column;
}
.quantity{
    font-size: 12px;
    color:grey
}
.name{
    font-size: 17px;
    color:black;
    font-weight: 400;
}
 /* Products part - 3 */
 #products>#products3{
    width:38%;
    cursor: pointer;
}
#products3>p{
    font-size: 28px;
    margin-top: 20px;
    margin-left: 10px;
    color:grey;
}
#products3>img{
    width:300px;
    height:300px;
    margin-left: 16%;
}
#products3>h4{
    text-align: center;
    color:grey;
    font-weight: 300;
}

.transform{
    box-shadow: 3px 0px 10px 0px lightgray;
}
.transformBack{
    box-shadow: 0;
}
ul {
list-style: none; /* Remove default bullets */
}

ul li::before {
content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
/* color: green; Change the color */
font-weight: bold; /* If you want it to be bold */
display: inline-block; /* Needed to add space between the bullet and the text */
width: 1em; /* Also needed for space (tweak if needed) */
margin-left: -1em; /* Also needed for space (tweak if needed) */
}

#box{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border:1px solid lightgray;
    display: flex;
    margin: auto;

}
#box button{
height: 30px;
width: 30px;
border: none;
border-color: inherit;
border-radius: 50%;
background-color: transparent;
font-size: large;
font-weight: bold;
}
#plus{
color:green;
}
#val{
margin-top: 5px;
margin-left: 5%;
margin-right: 5%;
}
#box button:hover{
cursor: pointer;
box-shadow: 1px 1px 1px 1px lightgray;
}
.menu{
    color:rgb(0, 179, 122);
    border-right: 1px solid black;
    border-width: 4px;
    border-right-color: rgb(0, 179, 122);
}

#checkout{
background-color:white;
height: 60px;
position: relative;
bottom: 0%;
margin-left: 50px;
}
#checkout button{
height: 30px;
border-radius: 25px;

font-size:medium;
font-weight: bold;
background-color: rgb(0,210,144);
height:40px;

position: absolute;
right: 50%;
top:50%;
color: white;

}
.checkout{
border:none;
width:200px;
height: 20px;
border-radius: 20px;
background-color: transparent;
}
#cart{
    position: relative;
}
#cart > #circle{
    position: absolute;
    bottom: 80%;
    left: 70%;
}
#circle{
    display: initial;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: red;
    position: absolute;

}