*{
    margin:0px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
#nav-bar {
    width: 85%;
    height: 35px;
    padding: 1% 10%;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 1;
}

#nav-bar>img {
float: left;
width: 10%;
height: 80%;
margin-left: 5%;
}
#logo{
margin-top: 0.5%;
}
#location{
margin: 0%;
font-weight: 550;
}
#set_location {
height: 20px;
display: flex;
flex-direction: row;
cursor: pointer;
}        #nav_bar1{
margin-right: 0%;
margin-top: 1%;
}
#nav_bar2{
margin: 0%;
font-weight: 550;
margin-left: 20%;
}

#search1{
margin-right: 5%;
margin-top: 0.0%;
margin-left: 3%;
}
#nav_bar4{
margin-right: 5%;
margin-top: 1%;
width: 15%;
margin-left: 0%;
}

#nav_bar3{
margin: 0%;
font-weight: 550;
}
#cart{
margin-right: 5%;
margin-top: 0%;
}
#nav_bar5{
margin-top: 0%;
font-size: 15px;  
}
#search1 > img{
margin-left: 20%;
}
#nav_bar6{
margin-top: 0%;
font-size: 15px;
}
#nav_bar7{
margin-top: 0%;
font-size: 15px;
margin-left: -8px;
}
#nav_bar8{
margin-top: 0%;
}
#carin{
    margin-left: 40%;
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(23, 30, 48);
}
#login{
    margin-left: 5%;
    cursor: pointer;
    height:50%;
    width:30px;
    margin-top: 1%;
    border: 0px;
    color:white;
    font-weight: bolder;
}
#search{
    width:100%;
    height:100px;
    padding-top: 110px;
    position: fixed;
    z-index: 0;
    background-color: rgb(249, 250, 252);;
}
#search>input{
    height:50%;
    width:65%;
    margin-left:14%;
    z-index: 1;
    margin-bottom: 20px;
    padding-left: 60px;
    border:1px solid lightgray;
    color:gray;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    background-color: transparent;
}
#search>#img1{
    width:20px;
    margin-left:15%;
    position: absolute;
    z-index: 0;
    margin-top: 15px;
}
#search>#img2{
    width:40px;
    position: absolute;
    margin-left:82%;
    margin-top: -3px;
    color:rgb(249,250,252);
    cursor: pointer;
}
#search>#img2t{
    width:40px;
    position: absolute;
    margin-left:81.7%;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
   
}
#content{
    height:1200px;
    width:80%;
    margin: auto;
    padding-top: 250px;
    z-index: -2;
    padding-left: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:normal;
}
#content>#he1{
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
#content>#he3{
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
}
#content>#he2{
    /* font-weight: 500; */
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: grey;
}
#items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: max-content;
    height:32px;
    margin:15px 0 0 0;
}
#itemz{
    margin:0 2px;
    background-color: aqua;
    margin:0 15px 0 0;
    color: rgb(15, 25, 56);
    border-radius: 26px;
    padding: 4px 15px 6px 15px;
    background-color: rgb(189, 249, 212);
    border-color: rgb(47, 242, 194);
    cursor: pointer;
}
#shops{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  
}
.shop1{
    width:150px;
    display: flex;
    flex-direction: column;
    margin: 0 30 0 0px ;
    margin-left: 30px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    bottom: 5px;
    text-align: center;
}
.shop1:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.shop1>img{
    width:98%;
    border-radius: 10px;
    border: 0.5px solid rgb(225, 227, 234);
    margin-bottom: 10px;

    
}
.shop1name{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    padding-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.shop1name>p{
    margin-left:15px;
    padding-top: 2px;
    font-size: 14px;
    color:gray;
    padding-left: 10px;
}