*{
    font-family :'Roboto', sans-serif;
    
    }
    #back1{
        
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    #back2{
        padding: 100px;
        background-color: rgb(0,210,144);
        width: 500px;
        height: 100px;
        border-radius: 10px;
    }
    #back2 > img{
        width: 17%;
       padding: 20px 200px;
    }
    #back2 > h2{
        width: 50%;
        margin: auto;
        padding: 30px ;
    }
    #back2 > h4{
        width: 80%;
        margin: auto;
    }
    #btn{
        width: 50%;
        height: 45%;          
        padding: 60px 175px;         
    }
    button{
        border: none;
        width: 50%;
        height: 30%;          
        background-color: #9CCC65;
        border-radius: 30px;
        cursor: pointer;
    }
    #preloader{
        background: white url(http://thememyxbox.net/images/loading.gif) no-repeat center;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 100;
    }
    #dummy{
        display: none;
    }

    h2:hover { COLOR: blue; TEXT-DECORATION: none; font-weight: none }
    h4:hover { COLOR: blue; TEXT-DECORATION: none; font-weight: none }
    button:hover { COLOR: blue; TEXT-DECORATION: none; font-weight: none }